@model IEnumerable<ToDo.Models.List>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>TODO</title>
</head>
<body>
    <h3>List</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Date of Start</td>
            <td>Date of End</td>
            <td>Category</td>
            <td></td>
        </tr>
        @foreach (var list in Model)
        {
        <tr>
            <td>@list.Name</td>
            <td>@list.Time_start</td>
            <td>@list.Time_end</td>
            <td>@list.category_id</td>
            <!--  <td><a href="~/Home/Buy/@list.Id">Купить</a></td>-->
        </tr>
        }
    </table>
</body>
</html>